@model IEnumerable<ProyectoDSWToolify.Models.Categoria>

@{
	ViewData["Title"] = "Categorías";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid px-4">
	<h1 class="mt-4 mb-3 fw-bold">Listado de Categorías</h1>

	<div class="card-body table-responsive">
		<table class="table table-bordered table-hover align-middle">
			<thead class="table-dark">
				<tr>
					<th>Id</th>
					<th>Descripción</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.idCategoria</td>
						<td>@item.descripcion</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
